<div class="card my-5">
<div class="card-body">
<table class="table table-bordered table-striped">
<thead class="thead-dark">
<tr>
			<th scope="col">#</th>
			<th scope="col">firstName</th>
			<th scope="col">lastName</th>
			<th scope="col">Date of birth</th>
		   <th scope="col">city</th>
		   <th scope="col">country</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let person of persons">
<td>{{ person.id }}</td>
<td>{{ person.firstName }}</td>
<td>{{ person.lastName }}</td>
<td>{{ person.dateOfBirth }}</td>
<td>{{ person.city }}</td>
<td>{{ person.country}}</td>
</tr>
</tbody>
</table>
</div>
</div>